@using System.Linq
@model MoviesApp.ViewModels.ArtistViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artist</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="FirstName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="LastName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Birthday"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Birthday.ToString("dd.MM.yyyy")
        </dd>
    </dl>
</div>

<h5>Films in which the actor starred</h5>
<table class="table">
    <thead>
    <tr>
        <th>
            <label asp-for="@Model.MoviesArtists.FirstOrDefault().Movie.Title"></label>
        </th>
        <th>
            <label asp-for="@Model.MoviesArtists.FirstOrDefault().Movie.ReleaseDate"></label>
        </th>
        <th>
            <label asp-for="@Model.MoviesArtists.FirstOrDefault().Movie.Genre"></label>
        </th>
        <th>
            <label asp-for="@Model.MoviesArtists.FirstOrDefault().Movie.Price"></label>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.MoviesArtists)
    {
        <tr>
            <td>
                @item.Movie.Title
            </td>
            <td>
                @item.Movie.ReleaseDate.ToString("dd.MM.yyyy")
            </td>
            <td>
                @item.Movie.Genre
            </td>
            <td>
                @item.Movie.Price
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>