@using System.Linq
@model IEnumerable<MoviesApp.ViewModels.ArtistsViewModel>

@{
    ViewData["Title"] = "Artists";
}

<h1>Artists</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            <label asp-for="@Model.First().FirstName"></label>
        </th>
        <th>
            <label asp-for="@Model.First().LastName"></label>
        </th>
        <th>
            <label asp-for="@Model.First().Birthday"></label>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Birthday.ToString("dd.MM.yyyy")
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>